.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    padding: 3px;
    border-radius: 12px;
    background-color: #fff;
    width: 30%;
    transition: .5s;
    transform: scale(0.25);
}

.dark .modal-content {
    background-color: #313131;
    /*color: #fff;*/
}

.modal.active .modal-content {
    transform: scale(1);
}