.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    padding-top: 60px;
    background-color: #232323;
}

.auth-switch {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}

.auth-switch button {
    padding: 10px 20px;
    font-weight: bold;
    border: 2px solid transparent;
    background-color: #181818;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.auth-switch button.active {
    background-color: #7b00ff;
    color: #181818;
    border-color: #7b00ff;
}

.auth-switch button:hover {
    opacity: 0.9;
}

.auth-form {
    background-color: #181818;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.auth-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
    color: #ffffff;
}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #ffffff;
}

.form-group input {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #00ffd9;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
}

.form-group input:focus {
    border-color: #7b00ff;
}

.auth-button {
    width: 100%;
    padding: 12px;
    background-color: #7b00ff;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.auth-button:hover {
    background-color: #7b00ff;
}

.error {
    color: red;
    margin-bottom: 16px;
    font-size: 14px;
    text-align: center;
}

.password-group {
    position: relative;
}

.password-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.password-wrapper input {
    flex: 1;
}

.toggle-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.input-with-icon {
    position: relative;
}

.input-with-icon input {
    width: 100%;
    padding-right: 40px;
}

.password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

